
hr{
    margin-bottom: 12px !important;
}

.container{
    margin: 36px !important;
}

.st_green{
    color: white;
    background-color: #198754 !important;
}

.st_red{
    color: white;
    background-color: #dc3545 !important;
}

.st_blue{
    color: white;
    background-color: #0d6efd !important;
}

.table-header{
    display: flex;
    justify-content: space-between;
}

.btn-success{
    width: 200px !important;
}

.search-box{
    width: 250px;
    border: none;
    outline: none;
}

.search-box-wrapper{
    display: flex;
    align-items: center;
    border: 1px solid lightblue;
    border-radius: 6px;
    padding: 6px 12px;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-parent{
    width: 100%;
}